/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700&family=Montserrat:wght@100;200;900&family=Noto+Serif:wght@400;700&family=Open+Sans&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-body {
    background-color: rgba(231, 223, 147, 0.8);
    height: 200vh;
    margin: 0;
    padding: 0;
    transition: all 1s linear;
    font-family: 'Noto Serif', sans-serif;
}

.full-body.show {
    background-color: rgb(31, 25, 25);
    transition: all 1s linear;
}

.toggle {
    width: 6rem;
    height: 3rem;
    background-color: #a4d768;
    top: 1rem;
    margin-left: 80%;
    position: relative;
    border-radius: 3rem;
    cursor: pointer;
}

.toggle.show {
    background-color: rgba(95, 91, 91, 0.348);
}

.icon {
    position: absolute;
    width: 2.7rem;
    top: .15rem;
    height: 2.7rem;
    left: .3rem;
    transition: all .5s linear;
}

.icon.show {
    left: 3rem;
}

.little-stories {
    width: auto;
    margin: 50px;
    display: none;
    transition: all 1s linear;
}

.little-stories.show {
    display: block;
    transition: all 1s linear;
}

.content {
    background: -webkit-linear-gradient(#ea0909, #3460da);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1rem;
    font-weight: 700;
}
.little-stories h1 {
    background: -webkit-linear-gradient(#e80707, #2725c2);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 30px;
}
.little-stories-content img {
    width: 30%;
    height: 15%;
    margin: 2% 35%;
    object-fit: cover;
}